body {
    margin: 0;
}

.titulo-contenido {
    text-align: center;
    padding: 20px
}

.grid-principal {

    grid-area: contenido;
    background-color: #e5e5e5;
    width: 80%;
    justify-items: center;
    display: grid;
    margin: 0px auto;

}


.grid-gallery-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    justify-items: center;


}




.img-card {

    width: auto;
    clear: none;
    position: static;
    align-self: auto;
    flex-direction: unset;
    display: inline-flex;
    overflow: hidden;
    transition-duration: 0.5s;


}


@media screen and (max-width:768px) {

    .grid-gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width:576px) {

    .grid-gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }

}


.card-body {


    border-radius: 10px;
    background-color: bisque;
    height: 500px;
    padding: 10px;

}


.card-img-top:hover {

    transition-duration: 10ms;
    transform: scale(1.05);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #00000050);
    background-attachment: fixed;
    background-repeat: center;




}



.form {


    background-color: #e5e5e5;

    padding-left: 10px;
    padding-right: 10px;

}

.titulo-form {

    text-align: center;
    font-size: 16px;
    padding-left: 10px;
}

.contenedor {
    background-color: #e5e5e5;
    width: 1520px;
    margin: 0px auto;
    padding: 1em;
}

.contenido {
    padding: 1em;
    overflow: auto;
}

.two-columns {
    width: 47%;

    padding: 1em;


}

.rigth {
    float: right;
}

.left {
    float: left;

}

.clear {
    clear: both;
}