footer .box {
   background-color: rgb(199, 106, 106);

}

.jumbo {
   background-image: url(https://pbs.twimg.com/media/EYajgIQUEAUYvig?format=jpg&name=small);
   background-repeat: no-repeat;
   background-position: right;
}

.img {
   width: 100%;
   transition: width 1s;
}

.img:hover {
   width: 300px;
}