.box{
    background-color: #d29e36;
    
    }
    .jumbo{
       background-image: url(https://pbs.twimg.com/media/EYajgIQUEAUYvig?format=jpg&name=small);
       background-repeat: no-repeat;
       background-position: right;
    }